//- Props:
//-   - tag: string
//-   - type: string

mixin form-group-prefix(props={})
	-
		var tag = props.tag || 'div'
		var tagClass = 'form-group-prefix'
		var tagTypeClass = props.type ? tagClass + '_type_' + props.type : ''

	#{tag}(class=tagClass, class=tagTypeClass)&attributes(attributes)
		block
