//- Props:
//-   - tag: 'input' | 'textarea'
//-   - size: string

mixin form-control(props={})
	-
		var tag = props.tag || 'input'
		var tagClass = 'form-control'
		var tagSizeClas = props.size ? tagClass + '_size_' + props.size : ''

	#{tag}(class=tagClass, class=tagSizeClas)&attributes(attributes)
