/*=============== Collapse component ===============*/

.#{$collapse--class} {
	transition: height $time-default;
	height: 0;
	overflow: hidden;

	&.show,
	&.collapsing {
		height: unset;
		overflow: unset;
	}

	&.#{$collapse--show-class} {
		height: auto;
	}
}
