//- Props:
//-   - show: boolean

mixin collapse(props={})
	-
		var tagClass = 'collapse'
		var tagWrapperClass = 'collapse-wrapper'
		var tagShowClass = props.show ? 'is-showed' : ''

	div(class=tagClass, class=tagShowClass)&attributes(attributes)
		div(class=tagWrapperClass)
			block
