//- Props:
//-   - tag: string
//-   - position: string

mixin dropdown(props={})
	-
		var tag = props.tag || 'div'
		var tagClass = 'dropdown'

	#{tag}(class=tagClass, class=props.position)&attributes(attributes)
		block
