//- Props:
//-   - type: 'link' | 'button'
//-		- href: string (only when type === 'link')
//-		- theme: string

mixin menu-list-item(props={})
	-
		var tagClass = 'menu-list-item'
		var tagThemeClass = props.theme ? tagClass + '_theme_' + props.theme : ''

	li(class=tagClass, class=tagThemeClass)&attributes(attributes)
		if props.type === 'button'
			button.btn(type='button')
				block

		else if props.type === 'link'
			a(href=props.href)
				block

		else
			span
				block
