/*=============== Form group suffix component ===============*/
@use 'sass:map';

.#{$form-group-suffix--class} {
	display: flex;
	align-items: center;
	padding: $form-control--padding-default;
	border-left: $form-control--border-size solid $form-control--border-color;

	&_type {
		&_icon {
			img,
			svg {
				max-width: 16px;
				max-height: 16px;
				width: 16px;
				height: 16px;
			}
		}

		&_selector {
			border-left: none;

			img,
			svg {
				transition: transform $form-control--time;
				max-width: 9px;
				max-height: 6px;
				width: 9px;
				height: 6px;
			}
		}
	}
}

@each $label, $map in $form-control--sizes {
	@if $label != 'default' {
		.#{$form-group--class}_size_#{$label} > .#{$form-group-suffix--class} {
			padding: map.get($map, 'padding');
		}
	}
}

.#{form-group--class}.#{$form-control--focus-class}
	.#{$form-group-suffix--class}_type_selector {
	img,
	svg {
		transform: rotate(180deg);
	}
}

.#{form-group--class} > .#{$form-group-suffix--class} {
	padding-bottom: 0;
	padding-top: 0;
}
