//- Props:
//-   - labelAttrs: object

mixin form-checkbox(props={})
	-
		var tagClass = 'form-checkbox'
		var tagWrapperClass = 'form-checkbox-wrapper'

	label(class=tagWrapperClass)&attributes(props.labelAttrs)
		input(type='checkbox', class=tagClass)&attributes(attributes)

		span
			block
