//- Props:
//-   - labelAttrs: object

mixin form-radio(props={})
	-
		var tagClass = 'form-radio'
		var tagWrapperClass = 'form-radio-wrapper'

	label(class=tagWrapperClass)&attributes(props.labelAttrs)
		input(type='radio', class=tagClass)&attributes(attributes)

		span
			block
