//- Props:
//-   - tag: string

mixin menu-list(props={})
	-
		var tag = props.tag || 'div'
		var tagClass = 'menu-list'

	#{tag}(class=tagClass)&attributes(attributes)
		+scrollbar
			ul.menu-list__list
				block
