//- Props:
//-   - tag: string
//-   - classes: string
//-   - attrs: object

mixin menu-list(props={})
	-
		var tag = props.tag || 'div'
		var tagClass = 'menu-list'

	#{tag}(class=tagClass, class=props.classes)&attributes(props.attrs)
		+scrollbar
			ul.menu-list__list
				block
