//- Props:
//-   - tag: string
//-   - size: string

mixin form-group(props={})
	-
		var tag = props.tag || 'div'
		var tagClass = 'form-group'
		var tagSizeClass = props.size ? tagClass + '_size_' + props.size : ''

	#{tag}(class=tagClass, class=tagSizeClass)&attributes(attributes)
		block
