.navbar {
	width: 100%;
	padding: 20px 0;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(#000, 0.1);
	z-index: 10;

	&__links {
		display: flex;
		align-items: center;

		li {
			margin-right: 20px;
		}
	}

	&__menu-btn {
		display: block;
		position: relative;
		width: 20px;
		height: 20px;
		min-width: 20px;
		min-height: 20px;
		margin-left: auto;

		span {
			transition: transform 0.3s;
			position: absolute;
			top: 50%;
			left: 0;
			width: 20px;
			height: 2px;
			background: #000;
			border-radius: 2px;
		}

		span:first-child {
			transform: translateY(-9px);
		}

		span:nth-child(2) {
			transform: translateY(-1px);
		}

		span:last-child {
			transform: translateY(8px);
		}

		&.is-active {
			span {
				&:first-child {
					transform: translateY(-1px) rotate(45deg);
				}

				&:nth-child(2) {
					display: none;
				}

				&:last-child {
					transform: translateY(-1px) rotate(-45deg);
				}
			}
		}
	}

	&.is-fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
}

@include media-sm-max {
	.navbar {
		&__links {
			display: none;
		}
	}
}

@include media-sm {
	.navbar {
		&__menu-btn {
			display: none;
		}
	}
}
